/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) {
    .text-md-left { text-align: left; }
    .text-md-right { text-align: right; }
    .text-md-center { text-align: center; }
    .text-md-justify { text-align: justify; }
}


/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    video.demo-video {
        /*width: 50%;*/
        height: auto;
    }
    .mainmenu-area #primary-menu > ul > li > a {
        padding: 30px 12px;
    }
    .floating-bar {
        /* display: none; //remove comment to hide on mobile */
        text-align: center;
    }

    .floating-bar .alignleft {
        float: none;
        margin-bottom: 7px;
        margin-right: 0;
    }

    .floating-bar .alignright {
        float: none;
        margin-left: 0;
    }

    .floating-bar .button {
        text-align: center;
        width: 100%;
    }
    #mce-EMAIL {
        margin-bottom: 10px;
    }
    .header-area {
        padding-top: 80px;
    }
    .price-table,
    .box {
        padding: 30px 15px;
    }
    .price-table.active {
        padding: 50px 15px;
    }
    .single-team {
        margin-bottom: 30px
    }
    .side-icon-boxes {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .text-sm-left { text-align: left; }
    .text-sm-right { text-align: right; }
    .text-sm-center { text-align: center; }
    .text-sm-justify { text-align: justify; }
}


/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
    body {
        font-size: 13px;
    }
    .mainmenu-area .logo img {
        margin-bottom: 0;
        height: 100%;
        width: 150px;
        /*object-fit: cover;*/
    }
    .floating-bar {
        /* display: none; //remove comment to hide on mobile */
        text-align: center;
    }

    .floating-bar .alignleft {
        float: none;
        margin-bottom: 7px;
        margin-right: 0;
    }

    .floating-bar .alignright {
        float: none;
        margin-left: 0;
    }

    .floating-bar .button {
        text-align: center;
        width: 100%;
    }
    #mce-EMAIL {
        margin-bottom: 10px;
    }
    #home-page {
        padding-top: 60px;
    }
    .header-area {
        padding-top: 30px;
        padding-bottom: 30px;
        height: auto;
    }
    .header-text .button {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .page-title h2,
    .header-text h2 {
        font-size: 20px;
    }
    .mainmenu-area .navbar-toggle {
        margin-top: 20px;
    }
    .mainmenu-area .navbar-toggle .icon-bar {
        background-color: #ffffff;
    }
    .mainmenu-area #primary-menu {
        background-color: #34526B;
    }
    .mainmenu-area #primary-menu ul {
        overflow-y: auto;
        max-height: 70vh;
        margin: 0;
    }
    .mainmenu-area #primary-menu > ul > li > a {
        padding: 15px;
        overflow: hidden;
    }
    .mainmenu-area #primary-menu > ul > li > div > a {
        padding: 15px;
        overflow: hidden;
    }
    .box {
        padding: 30px 15px;
    }
    .box .box-icon {
        height: auto;
    }
    .single-blog,
    .single-team,
    .price-table.active {
        margin-top: 30px;
    }
    .form-double input {
        width: 100%;
    }
    .footer-top {
        margin-bottom: 50px;
    }
    .x-left {
        text-align: left;
    }
    .mainmenu-area .logo {
        margin-left: 15px;
    }

    .text-xs-left { text-align: left; }
    .text-xs-right { text-align: right; }
    .text-xs-center { text-align: center; }
    .text-xs-justify { text-align: justify; }
}


/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {}